# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Debugger-related files
*.repl_history
